---
http_interactions:
- request:
    method: get
    uri: https://api.payable.com/v1/work_types/7413727327
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"6a98b644644a34fd7c428b3755efb0c6"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":7413727327,"name":"Hours","quantity_measure":"time","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"}'
  recorded_at: Wed, 02 Nov 2016 21:08:58 GMT
[...]
- request:
    method: get
    uri: https://api.payable.com/v1/work_types?page=1&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"86523aff09e2421f012e28217fa57f51"'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"page_count":2,"page_size":2,"total_count":4,"work_types":[{"id":7413727327,"name":"Hours","quantity_measure":"time","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"},{"id":3147377972,"name":"Expenses","quantity_measure":"money","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"}]}'
  recorded_at: Wed, 02 Nov 2016 21:08:59 GMT
[...]
- request:
    method: get
    uri: https://api.payable.com/v1/work_types?page=1&page_size=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"605db4f61203a03015dfe90600738407"'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"page_count":1,"page_size":250,"total_count":4,"work_types":[{"id":7413727327,"name":"Hours","quantity_measure":"time","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"},{"id":3147377972,"name":"Expenses","quantity_measure":"money","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"},{"id":6317677432,"name":"Mileage","quantity_measure":"distance","created_at":"2016-11-02T16:05:03Z","updated_at":"2016-11-02T16:05:03Z"},{"id":4167373472,"name":"Units","quantity_measure":"unit","created_at":"2016-11-02T16:05:34Z","updated_at":"2016-11-02T16:05:34Z"}]}'
  recorded_at: Wed, 02 Nov 2016 21:09:01 GMT
recorded_with: VCR 3.0.3
