---
http_interactions:
- request:
    method: get
    uri: https://api.payable.com/v1/work_types/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MDAwMDAwMDpOb3RBVmFsaWRBUElLZXk=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
    body:
      encoding: ASCII-8BIT
      string: >
        {
          "id":123,
          "name":"Test WorkType by units",
          "quantity_measure":"unit",
          "created_at":"2016-10-28T17:45:11Z",
          "updated_at":"2016-10-31T20:55:34Z"
        }
  recorded_at: Tue, 01 Nov 2016 16:11:49 GMT
[...]
- request:
    method: get
    uri: https://api.payable.com/v1/work_types?page=1&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MDAwMDAwMDpOb3RBVmFsaWRBUElLZXk=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
    body:
      encoding: ASCII-8BIT
      string: >
        {
          "page":1,
          "page_count":1,
          "page_size":50,
          "total_count":4,
          "work_types":[
            {"id":123,"name":"Test WorkType by units","quantity_measure":"unit","created_at":"2016-10-28T17:45:11Z","updated_at":"2016-10-31T20:55:34Z"},
            {"id":234,"name":"Test WorkType by time","quantity_measure":"time","created_at":"2016-10-28T17:45:11Z","updated_at":"2016-10-31T20:55:34Z"},
            {"id":345,"name":"Test WorkType by money","quantity_measure":"money","created_at":"2016-10-28T17:45:11Z","updated_at":"2016-10-31T20:55:34Z"},
            {"id":456,"name":"Test WorkType by distance","quantity_measure":"distance","created_at":"2016-10-28T17:45:11Z","updated_at":"2016-10-31T20:55:34Z"}
          ]
        }
  recorded_at: Tue, 01 Nov 2016 16:11:49 GMT
[...]
- request:
    method: get
    uri: https://api.payable.com/v1/work_types?page=3&page_size=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MDAwMDAwMDpOb3RBVmFsaWRBUElLZXk=
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
    body:
      encoding: ASCII-8BIT
      string: >
        {
          "page":3,
          "page_count":2,
          "page_size":2,
          "total_count":4,
          "work_types":[]
        }
  recorded_at: Tue, 01 Nov 2016 16:11:49 GMT
recorded_with: VCR 3.0.3
