---
http_interactions:
- request:
    method: post
    uri: https://api.payable.com/v1/workers
    body:
      encoding: UTF-8
      string: '{"display_name":"Ricky Bobby","first_name":"Ricky","last_name":"Bobby","email":"ricky.bobby@example.com","invite":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 201 Created
      x-payable-api-version:
      - '2016-05-16'
      x-wait-for-onboarding-state-refresh:
      - job_type=refresh_entity_payee_onboarding_state_job&model_type_id=4&model_id=2913066854
      etag:
      - '"3728241df6dbc6d37984148c9f6f14f9"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2913066854,"display_name":"Ricky Bobby","first_name":"Ricky","last_name":"Bobby","email":"ricky.bobby@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:32:08Z","updated_at":"2016-11-02T19:32:08Z"}'
  recorded_at: Wed, 02 Nov 2016 19:32:08 GMT
- request:
    method: get
    uri: https://api.payable.com/v1/workers/2913066854
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"3728241df6dbc6d37984148c9f6f14f9"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2913066854,"display_name":"Ricky Bobby","first_name":"Ricky","last_name":"Bobby","email":"ricky.bobby@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:32:08Z","updated_at":"2016-11-02T19:32:08Z"}'
  recorded_at: Wed, 02 Nov 2016 20:59:21 GMT
- request:
    method: get
    uri: https://api.payable.com/v1/workers?page=1&page_size=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"25cf4c69c4bde449decf58bdd975590f"'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"page_count":1,"page_size":250,"total_count":3,"workers":[{"id":2913066854,"display_name":"Ricky
        Bobby","first_name":"Ricky","last_name":"Bobby","email":"ricky.bobby@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:32:08Z","updated_at":"2016-11-02T19:32:08Z"},{"id":65139642,"display_name":"Cal
        Naughton Jr.","first_name":null,"last_name":null,"email":"cal.naughton.jr@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:36:42Z","updated_at":"2016-11-02T19:36:42Z"},{"id":5361496072,"display_name":"Jean
        Girard","first_name":null,"last_name":null,"email":"jean.girard@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:37:48Z","updated_at":"2016-11-02T19:37:48Z"}]}'
  recorded_at: Wed, 02 Nov 2016 20:59:22 GMT
[...]
- request:
    method: get
    uri: https://api.payable.com/v1/workers/5361496072
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-payable-api-version:
      - '2016-05-16'
      etag:
      - '"5b389c0ba601a44d2b86abf1388a59a3"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":5361496072,"display_name":"Jean Girard","first_name":null,"last_name":null,"email":"jean.girard@example.com","signed_up":false,"invite_status":"not_invited","payable":false,"created_at":"2016-11-02T19:37:48Z","updated_at":"2016-11-02T19:37:48Z"}'
  recorded_at: Wed, 02 Nov 2016 20:59:24 GMT
recorded_with: VCR 3.0.3
